---
import "../tailwind.css"
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A standard approach to building great software">
    <title>Conventional Devs</title>
  </head>
  <body class="min-h-screen flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-gradient-to-tr from-sky-500 from-10% to-emerald-500 to-90%">
    <section class="flex flex-col items-center justify-center text-gray-100">
      <h1 class="text-4xl font-bold">Conventional Devs</h1>
      <p>A standard approach to building great software. Coming soon.</p>
    </section>
  </body>
</html>
